function Cloud.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function Cloud.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
