function Graphics.drawStandHead 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 113
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 113
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1
sub
pop local 0
push local 0
push constant 64
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
return
function Graphics.eraseStandHead 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
sub
pop local 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawCrouchHead 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 113
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 113
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseCrouchHead 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawFeet1 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 7
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 386
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30782
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 30780
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30776
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 14392
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 12316
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 4066
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4082
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
return
function Graphics.drawFeet2 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 7
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31871
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15486
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15420
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 6200
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30776
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3976
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16160
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 384
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.eraseFeet 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawTail 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 7936
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15872
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
return
function Graphics.eraseTail 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphics.drawStand 0
push argument 0
push constant 512
sub
push constant 1
add
call Graphics.drawStandHead 1
pop temp 0
push argument 0
call Graphics.drawFeet1 1
pop temp 0
push argument 0
push constant 1
sub
call Graphics.drawTail 1
pop temp 0
push constant 0
return
function Graphics.eraseStand 0
push argument 0
push constant 511
sub
call Graphics.eraseStandHead 1
pop temp 0
push argument 0
call Graphics.eraseFeet 1
pop temp 0
push argument 0
push constant 1
sub
call Graphics.eraseTail 1
pop temp 0
push constant 0
return
function Graphics.drawJump 4
push argument 0
push constant 512
sub
push constant 1
add
call Graphics.drawStandHead 1
pop local 0
push argument 0
call Graphics.drawFeet1 1
pop local 1
push argument 0
push constant 1
sub
call Graphics.drawTail 1
pop local 2
label WHILE_EXP0
push argument 1
push constant 0
lt
not
if-goto WHILE_END0
push argument 1
push constant 1
add
pop argument 1
push argument 1
push constant 32
call Math.multiply 2
pop local 3
push local 0
push local 3
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push local 3
sub
push constant 0
call Memory.poke 2
po