function CactusCluster.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push pointer 0
call CactusCluster.reset 1
pop temp 0
push static 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 30
pop static 0
label IF_FALSE0
push pointer 0
return
function CactusCluster.decrement_rightmost 0
push static 0
push constant 1
sub
pop static 0
push static 0
push constant 30
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 29
pop static 0
label IF_FALSE0
push constant 0
return
function CactusCluster.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function CactusCluster.x 0
push argument 0
pop pointer 0
push this 8
return
function CactusCluster.update 0
push argument 0
pop pointer 0
push this 6
push constant 30
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 1
sub
pop this 2
push this 6
push constant 1
sub
pop this 6
push this 8
push constant 1
sub
pop this 8
push constant 0
return
label IF_FALSE0
push this 4
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Graphics.drawCactus1Pos1 1
pop temp 0
goto IF_END2
label IF_FALSE2
push this 5
push constant 2
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
call Graphics.drawCactus1Pos2 1
pop temp 0
goto IF_END3
label IF_FALSE3
push this 5
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
call Graphics.drawCactus1Pos3 1
pop temp 0
goto IF_END4
label IF_FALSE4
push this 5
push constant 4
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
call Graphics.drawCactus1Pos4 1
pop temp 0
goto IF_END5
label IF_FALSE5
push this 5
push constant 5
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 2
call Graphics.drawCactus1Pos5 1
pop temp 0
goto IF_END6
label IF_FALSE6
push this 5
push constant 6
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
call Graphics.drawCactus1Pos6 1
pop temp 0
goto IF_END7
label IF_FALSE7
push this 5
push constant 7
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 2
call Graphics.drawCactus1Pos7 1
pop temp 0
goto IF_END8
label IF_FALSE8
push this 5
push constant 8
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 2
call Graphics.drawCactus1Pos8 1
pop temp 0
push this 2
push constant 1
sub
pop this 2
push this 6
push constant 1
sub
pop this 6
push this 8
push constant 1
sub
pop this 8
push constant 0
pop this 5
label IF_FALSE9
label IF_END8
label IF_END7
label IF_END6
label IF_END5
label IF_END4
label IF_END3
label IF_END2
goto IF_END1
label IF_FALSE1
push this 4
push constant 2
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 5
push constant 1
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 2
call Graphics.drawCactus2Pos1 1
pop temp 0
goto IF_END11
label IF_FALSE11
push this 5
push constant 2
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 2
call Graphics.drawCactus2Pos2 1
pop temp 0
goto IF_END12
label IF_FALSE12
push this 5
push constant 3
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push this 2
call Graphics.drawCactus2Pos3 1
pop temp 0
goto IF_END13
label IF_FALSE13
push this 5
push constant 4
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 2
call Graphics.drawCactus2Pos4 1
pop temp 0
goto IF_END14
label IF_FALSE14
push this 5
push constant 5
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push this 2
call Graphics.drawCactus2Pos5 1
pop temp 0
goto IF_END15
label IF_FALSE15
push this 5
push constant 6
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push this 2
call Graphics.drawCactus2Pos6 1
pop temp 0
goto IF_END16
label IF_FALSE16
push this 5
push constant 7
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 2
call Graphics.drawCactus2Pos7 1
pop temp 0
goto IF_END17
label IF_FALSE17
push this 5
push constant 8
eq
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push this 2
call Graphics.drawCactus2Pos8 1
pop temp 0
push this 2
push constant 1
sub
pop this 2
push this 6
push constant 1
sub
pop this 6
push this 8
push constant 1
sub
pop this 8
push constant 0
pop this 5
label IF_FALSE18
label IF_END17
label IF_END16
label IF_END15
label IF_END14
label IF_END13
label IF_END12
label IF_END11
goto IF_END10
label IF_FALSE10
push this 4
push constant 2
neg
eq
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push this 5
push constant 1
eq
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push this 2
call Graphics.drawCactus2EndPos1 1
pop temp 0
goto IF_END20
label IF_FALSE20
push this 5
push constant 2
eq
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push this 2
call Graphics.drawCactus2EndPos2 1
pop temp 0
goto IF_END21
label IF_FALSE21
push this 5
push constant 3
eq
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push this 2
call Graphics.drawCactus2EndPos3 1
pop temp 0
goto IF_END22
label IF_FALSE22
push this 5
push constant 4
eq
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push this 2
call Graphics.drawCactus2EndPos4 1
pop temp 0
goto IF_END23
label IF_FALSE23
push this 5
push constant 5
eq
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push this 2
call Graphics.drawCactus2EndPos5 1
pop temp 0
goto IF_END24
label IF_FALSE24
push this 5
push constant 6
eq
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push this 2
call Graphics.drawCactus2EndPos6 1
pop temp 0
goto IF_END25
label IF_FALSE25
push this 5
push constant 7
eq
if-goto IF_TRUE26
goto IF_FALSE26
label IF_TRUE26
push this 2
call Graphics.drawCactus2EndPos7 1
pop temp 0
goto IF_END26
label IF_FALSE26
push this 5
push constant 8
eq
if-goto IF_TRUE27
goto IF_FALSE27
label IF_TRUE27
push this 2
call Graphics.drawCactus2EndPos8 1
pop temp 0
goto IF_END27
label IF_FALSE27
push this 5
push constant 9
eq
if-goto IF_TRUE28
goto IF_FALSE28
label IF_TRUE28
push this 2
call Graphics.drawCactus2EndPos9 1
pop temp 0
goto IF_END28
label IF_FALSE28
push this 5
push constant 10
eq
if-goto IF_TRUE29
goto IF_FALSE29
label IF_TRUE29
push this 2
call Graphics.drawCactus2EndPos10 1
pop temp 0
goto IF_END29
label IF_FALSE29
push this 5
push constant 11
eq
if-goto IF_TRUE30
goto IF_FALSE30
label IF_TRUE30
push this 2
call Graphics.drawCactus2EndPos11 1
pop temp 0
goto IF_END30
label IF_FALSE30
push this 5
push constant 12
eq
if-goto IF_TRUE31
goto IF_FALSE31
label IF_TRUE31
push this 2
call Graphics.drawCactus2EndPos12 1
pop temp 0
goto IF_END31
label IF_FALSE31
push this 5
push constant 13
eq
if-goto IF_TRUE32
goto IF_FALSE32
label IF_TRUE32
push this 2
call Graphics.drawCactus2EndPos13 1
pop temp 0
push constant 0
pop this 5
push pointer 0
call CactusCluster.reset 1
pop temp 0
label IF_FALSE32
label IF_END31
label IF_END30
label IF_END29
label IF_END28
label IF_END27
label IF_END26
label IF_END25
label IF_END24
label IF_END23
label IF_END22
label IF_END21
label IF_END20
goto IF_END19
label IF_FALSE19
push this 4
push constant 1
neg
eq
if-goto IF_TRUE33
goto IF_FALSE33
label IF_TRUE33
push this 5
push constant 1
eq
if-goto IF_TRUE34
goto IF_FALSE34
label IF_TRUE34
push this 2
call Graphics.Cactus1End1 1
pop temp 0
goto IF_END34
label IF_FALSE34
push this 5
push constant 2
eq
if-goto IF_TRUE35
goto IF_FALSE35
label IF_TRUE35
push this 2
call Graphics.Cactus1End2 1
pop temp 0
goto IF_END35
label IF_FALSE35
push this 5
push constant 3
eq
if-goto IF_TRUE36
goto IF_FALSE36
label IF_TRUE36
push this 2
call Graphics.Cactus1End3 1
pop temp 0
goto IF_END36
label IF_FALSE36
push this 5
push constant 4
eq
if-goto IF_TRUE37
goto IF_FALSE37
label IF_TRUE37
push this 2
call Graphics.Cactus1End4 1
pop temp 0
goto IF_END37
label IF_FALSE37
push this 5
push constant 5
eq
if-goto IF_TRUE38
goto IF_FALSE38
label IF_TRUE38
push this 2
call Graphics.Cactus1End5 1
pop temp 0
goto IF_END38
label IF_FALSE38
push this 5
push constant 6
eq
if-goto IF_TRUE39
goto IF_FALSE39
label IF_TRUE39
push this 2
call Graphics.Cactus1End6 1
pop temp 0
push constant 0
pop this 5
push pointer 0
call CactusCluster.reset 1
pop temp 0
label IF_FALSE39
label IF_END38
label IF_END37
label IF_END36
label IF_END35
label IF_END34
label IF_FALSE33
label IF_END19
label IF_END10
label IF_END1
push this 2
push this 3
eq
push this 4
and
push constant 0
gt
if-goto IF_TRUE40
goto IF_FALSE40
label IF_TRUE40
push constant 0
pop this 5
push constant 0
pop this 8
push this 4
neg
pop this 4
label IF_FALSE40
push this 5
push constant 1
add
pop this 5
push constant 0
return
function CactusCluster.reset 0
push argument 0
pop pointer 0
push constant 1
push constant 2
call LCGRandom.randRange 2
pop this 4
push this 4
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 21
pop this 0
push constant 1
pop this 1
goto IF_END0
label IF_FALSE0
push this 4
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 16
pop this 0
push constant 2
pop this 1
label IF_FALSE1
label IF_END0
push constant 244
push this 0
sub
pop this 7
push static 0
push constant 20
push constant 400
call LCGRandom.randRange 2
add
pop this 6
push this 6
pop static 0
push constant 244
pop this 9
push this 6
push this 1
add
pop this 8
push constant 7808
push this 0
push constant 32
call Math.multiply 2
sub
pop this 3
push this 3
push this 6
add
pop this 2
push constant 0
pop this 5
push constant 0
return
function CactusCluster.collision 0
push argument 0
pop pointer 0
push this 8
push constant 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
pop this 8
label IF_FALSE0
push this 6
push argument 3
gt
push argument 1
push this 8
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push this 7
push argument 4
gt
push argument 2
push this 9
gt
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 0
not
return
