function Trex.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push constant 3
pop static 0
push constant 30
neg
pop static 1
push constant 1
neg
pop this 8
push argument 0
pop this 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 7300
pop this 0
label IF_FALSE0
push this 0
push constant 32
call Math.divide 2
push constant 16
sub
pop this 7
push this 7
pop this 6
push this 0
pop this 1
push constant 0
pop this 2
push constant 0
not
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push this 0
call Graphics.drawStand 1
pop temp 0
push pointer 0
return
function Trex.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Trex.set_physics 0
push argument 0
pop static 0
push argument 1
pop static 1
push constant 0
return
function Trex.update_jump 0
push static 1
push argument 0
push argument 0
add
push argument 0
add
push argument 0
add
push argument 0
add
sub
pop static 1
push static 1
push constant 45
neg
lt
push static 1
push constant 15
neg
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 30
neg
pop static 1
label IF_FALSE0
push constant 0
return
function Trex.set_velocity 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Trex.update 0
push argument 0
pop pointer 0
push this 8
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 5
pop this 4
label IF_FALSE0
push this 8
push constant 1
sub
pop this 8
push this 4
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 5
goto IF_END2
label IF_FALSE2
push this 5
push constant 1
add
pop this 5
push constant 1
neg
return
label IF_END2
push this 2
push static 0
add
pop this 2
push this 0
push constant 32
push this 2
call Math.multiply 2
add
pop this 0
push this 6
push this 2
add
pop this 6
push this 0
push this 1
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
pop this 0
push this 7
pop this 6
push this 2
push constant 1
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push this 2
call Graphics.drawJump 2
pop temp 0
label IF_FALSE4
push constant 0
pop this 2
label IF_FALSE3
push this 0
push this 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Trex.swap_feet 1
pop temp 0
goto IF_END5
label IF_FALSE5
push this 0
push this 2
call Graphics.drawJump 2
pop temp 0
label IF_END5
goto IF_END1
label IF_FALSE1
push this 4
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push constant 1
add
call Graphics.eraseCrouchHead 1
pop temp 0
push this 0
push constant 511
sub
call Graphics.drawStandHead 1
pop temp 0
push constant 0
pop this 4
push this 6
push constant 16
sub
pop this 6
push constant 1
neg
pop this 8
goto IF_END6
label IF_FALSE6
push this 4
push constant 2
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Trex.swap_feet 1
pop temp 0
push constant 3
pop this 4
goto IF_END7
label IF_FALSE7
push this 4
push constant 1
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 2
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 0
call Graphics.eraseStand 1
pop temp 0
push this 1
pop this 0
push constant 0
pop this 2
push this 0
call Graphics.drawCrouch 1
pop temp 0
push constant 3
pop this 4
push this 7
push constant 16
add
pop this 6
goto IF_END9
label IF_FALSE9
push this 0
push constant 511
sub
call Graphics.eraseStandHead 1
pop temp 0
push this 0
call Graphics.drawCrouch 1
pop temp 0
push constant 3
pop this 4
push this 6
push constant 16
add
pop this 6
push this 6
push constant 200
lt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 200
pop this 8
push constant 0
return
label IF_FALSE10
push constant 1
neg
return
label IF_END9
goto IF_END8
label IF_FALSE8
push this 1
pop this 0
push constant 0
pop this 2
push this 0
call Graphics.drawCrouch 1
pop temp 0
push constant 3
pop this 4
push this 7
push constant 16
add
pop this 6
push constant 3
pop this 4
label IF_END8
label IF_END7
label IF_END6
label IF_END1
push constant 1
neg
return
function Trex.swap_feet 0
push argument 0
pop pointer 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Graphics.drawFeet1 1
pop temp 0
push constant 0
pop this 3
goto IF_END0
label IF_FALSE0
push this 0
call Graphics.drawFeet2 1
pop temp 0
push constant 0
not
pop this 3
label IF_END0
push constant 0
return
function Trex.crouch 0
push argument 0
pop pointer 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
pop this 4
goto IF_END0
label IF_FALSE0
push constant 1
pop this 4
label IF_END0
push constant 0
return
function Trex.jump 0
push argument 0
pop pointer 0
push this 0
push this 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 1
pop this 2
push constant 5
return
label IF_FALSE0
push constant 1
neg
return
function Trex.collision_box_tly 0
push argument 0
pop pointer 0
push this 6
return
